/*
    Autor: Mateusz Niełacny
    Indeks: s16534
*/

/* Importy */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 98.25vw;
    background: #edf0f4;
    font-family: 'Lato', sans-serif;
    color: #3c3c3c;
}

ol, ul {
    margin-left: 20px;
}

footer {
    padding: .75rem;
}

p {
    padding: .25rem;
}

a {
    text-decoration: none;
}

header {
    padding: 8px;
    background: #4287f5;
    border-radius: 7px;
}


/* Klasy */

.container {
    width: 75vw;
    margin: 50px auto;
}


.content {    
    background: #FFF;
    border: 1px solid #E3E3E3;
    border-radius: 12px;
    padding: 8px;
}

.box {    
    padding: .5rem;
    clear: none;
}


.box > h2 {
    padding: 8px 15px;
    background: #4287f53d;
    border-radius: 7px;
    color: #3c3c3c;
}

.box > p {
    text-align: justify;
}

.w50 {
    width: 50%;
}

.column {
    width: 50%;
    float: left;
}

/* ID'ki */

#naglowek {
    text-align: center;
    color: #fff;
}